.cont {
  height: 100vh;
  width: 80vw;
  background-color: transparent;
  position: center;
  padding: 50px;
}

.block {
  background-color: #ededed;
  height: auto;
  width: 600px;
  margin: 20px;
  border-radius: 3px;
  padding: 15px;
  transition: color 0.3s ease;
}

.block:hover > .bl_text {
  color: #9a3293;
}

.block_rw {
}

.info_el {
  height: 160px;
}
.col {
  justify-content: center;
}

.timer {
  font-size: 40px;
  text-align: center;
  color: white;
}

.main_blocks {
  justify-content: center;
}

.bl_header {
  font-size: 42px;
  font-weight: bolder;
  color: black;
}

.bl_text {
  color: black;
  font-size: 25px;
  line-height: 0.6;
}

@media only screen and (min-width: 768px) {
  .game_start {
    line-height: 0.8;
  }

  .infobar {
    margin-top: 50px;
  }

  .bl_text {
    line-height: 0.6;
  }
}

@media only screen and (max-width: 600px) {
  .cont {
    width: 100vw;
  }

  .info_el {
    width: 100vw;
    height: auto !important;
  }

  .block {
    width: 90vw;
    margin-top: 0px;
  }

  .block_rw {
    display: block;
  }

  .infobar {
    justify-content: center;
  }

  .game_start {
    font-size: 20px;
  }
}
